package cup_router

import (
	"net/http"
	
	"github.com/go-chi/chi/v5"
	"github.com/sh-lucas/mug/pkg/keg"
)

func Route(addr string) {
	router := chi.NewRouter()
	
	// handlers:
	{{.}}

	fmt.Printf("\033[32mStarting server on :%s\033[0m\n", addr)
	if err := http.ListenAndServe(":"+addr, router); err != nil {
		log.Fatalf("❌ Could not start server: %s\n", err)
	}
}