http.HandleFunc("{{.Path}}", func(w http.ResponseWriter, r *http.Request) {
	var input {{.Package}}.{{.Type}}
	
	err := json.NewDecoder(r.Body).Decode(&input)
	if err != nil { 
		http.Error(w, invalidPayloadMsg, 400)
		return
	}

	err = validate.Struct(&input)
	if err != nil {
		errMsg := formatValidationErrors(err, trans)
		w.WriteHeader(400)
		w.Write(errMsg)
		return
	}
	
	// calls handler function
	code, body := {{printf "%s.%s(input)" .Package .FnName}}
	w.WriteHeader(code)
	err = json.NewEncoder(w).Encode(body)
	if err != nil {
		http.Error(w, internalErrorMsg, 500)
		return
	}
})