http.HandleFunc("{{.Path}}", func(w http.ResponseWriter, r *http.Request) {
	var input {{.Package}}.{{.Type}}
	
	err := json.NewDecoder(r.Body).Decode(&input)
	if err != nil { 
		http.Error(w, invalidPayloadMsg, 400)
		return
	}

	code, body := {{printf "%s.%s(input)" .Package .FnName}}
	w.WriteHeader(code)
	err = json.NewEncoder(w).Encode(body)
	if err != nil {
		http.Error(w, internalErrorMsg, 500)
		return
	}
})